.root {
    li {
        display: inline-block;

        a {
            text-align:center;
            width: 45px;
            line-height: 42px;
            height: 45px;
            border: 1px solid orangered;
            border-radius: 30px;
            margin-right: 10px;
            cursor: pointer;
            display: inline-block;
            color: orangered;

            &:hover {
                background-color: orangered;
                color: #fff;
            }
        }
    }

    :global {
        .selected {
            a{
                background-color: orangered;
                color: #fff;
            }
        }
    }
}