* {box-sizing: border-box;}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #fe5f1e;
  border-radius: 10px;
  outline: none;
  background: #ffffff;
  color: #9E9C9C;
}
button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #fe5f1e;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
